.app{
 margin:40px auto ;
 max-width: 840px;
}
 .app button{
  color: #fff;
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
}
.app button:hover{
  background: crimson;
  color: #fff;
}
.cardgrid{
  display: grid;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  /* grid template coloums will get 1fr 4 times so basically 4 in one coloumns */
}