@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Shantell+Sans:ital,wght@1,300&family=Xanh+Mono:ital@1&display=swap');
/* base styles */
 body{
  font-family:Shantell Sans,sans-serif ;
  background: rgb(43, 41, 41);
  color: #fff;
  text-align: center;
  font-size: 1em;

 }